<ng-container *ngIf="isLoading">

    <app-my-spiner></app-my-spiner>
</ng-container>


<ng-container *ngIf="!isLoading">
    <div class="m-5 lg:w-4/5 overflow-x-auto  lg:overflow-x-hidden">
        <app-my-reutilizable-table HeadBackgroundColor="bg-black" [indexNumber]="false" [HeadArray]="headArrayPayments"
            [GridArray]="paymentsList" (onView)="onViewPayment($event)" (onEdit)="onEditPayment($event)"
            (onDelete)="onDeletePayment($event)"></app-my-reutilizable-table>
    </div>
</ng-container>