<div class="m-2 flex flex-col space-y-3">
    <h2 class="text-center font-bold text-xl">Ver Pago </h2>
    <!-- <p>
        {{message}}
    </p> -->

    <p>
        <span>Metodo Pago Completo:</span> {{paymentVisual.getMetodoPagoCompleteJson()}}
    </p>

    <p>
        <span>Pagador:</span> {{paymentVisual.pagadorNombre}}
    </p>

    <p>
        <span>Aclaracion:</span> {{paymentVisual.tipoPago}}
    </p>

    <p>
        <span>Monto:</span> {{paymentVisual.monto}}
    </p>

    <p>
        <span>Plan:</span> {{paymentVisual.planSuscripcionName}}
    </p>

    <p>
        <span>Estado:</span> {{paymentVisual.estado}}
    </p>

    <p>
        <span>FechaPago:</span> {{paymentVisual.fechaPagoParsed}}
    </p>
</div>