/* .layout{
    background: #2b2f77;
background: linear-gradient(251deg, #2b2f77 0%, #141852 50%, #070b34 100%);
background: -webkit-linear-gradient(251deg, #2b2f77 0%, #141852 50%, #070b34 100%);

}

body{
    overflow: hidden;
} */
